[Unit]
Description=monitoring core
After=syslog.target network.target mongodb.service rabbitmq-server.service

[Service]
User=root
Type=simple
ExecStart=/opt/monitoring/core/run.sh
SuccessExitStatus=143

[Install]
Alias=monitoring_core
WantedBy=multi-user.target
