[Unit]
Description=monitoring v5 core
After=syslog.target network.target mongodb.service rabbitmq-server.service redis.service

[Service]
User=root
Type=simple
ExecStart=/opt/monitoringv5/interface_manager/run.sh
SuccessExitStatus=143

[Install]
Alias=monitoringv5_interface_manager
WantedBy=multi-user.target
