mongodb.host=localhost
mongodb.username=monitoringv5
mongodb.password=monitoringv5

redis.host=localhost
redis.password=monitoringv5

mysql.host=localhost
mysql.username=monitoringv5
mysql.password=monitoringv5

rabbitmq.host=localhost
rabbitmq.username=monitoringv5
rabbitmq.password=monitoringv5

rabbitmq.interface_manager.host=localhost
rabbitmq.interface_manager.username=monitoringv5
rabbitmq.interface_manager.password=monitoringv5


