[Unit]
Description=monitoring v5 web
After=syslog.target network.target mongodb.service rabbitmq-server.service redis.service

[Service]
User=root
Type=simple
ExecStart=/opt/monitoringv5/web/run.sh
SuccessExitStatus=143

[Install]
Alias=monitoringv5_web
WantedBy=multi-user.target
